export TOPDIR=$PWD
export CERTS_DIR=${TOPDIR}/certs
export CERT_KEY_PATH=${CERTS_DIR}/cert.pem
export PRIVATE_KEY_PATH=${CERTS_DIR}/private-key.pem
export PUBLIC_KEY_PATH=${CERTS_DIR}/public-key.pem
export ROOT_KEY_PATH=${CERTS_DIR}/root-CA.pem
